$selectedColor: #f6f7ff;
$lighterBlue: #409eff;

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}
.components-list {
	box-sizing: border-box;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
	.components-item {
		display: inline-block;
		width: 48%;
		margin: 1%;
		transition: transform 0ms !important;
	}
}
.components-draggable {
	padding-bottom: 10px;
}
.components-title {
	
	border-left: 3px solid rgb(64, 158, 255); padding-left: 5px; margin-bottom: 5px; font-size: 20px;
	font-size: 14px;
	color: #222;
	margin: 6px 2px;
	.svg-icon {
		color: #666;
		font-size: 18px;
	}
}
.components-body {
	padding: 8px 18px;
	background: #fff;
	font-size: 12px;
	line-height: 18px;
	cursor: move;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	.svg-icon {
		color: #777;
		font-size: 15px;
	}
	&:hover {
		border: 1px dashed #787be8;
		color: #787be8;
		.svg-icon {
			color: #787be8;
		}
	}
}
.left-board {
	width: 300px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
.left-scrollbar {
	height: 100%;
	padding: 0 0 8px 0;
	overflow: hidden;
	box-sizing: border-box;
	border-right: 1px solid #f1e8e8;
}
.center-scrollbar {
	text-align: left;
	height: 100%;
	overflow: hidden;
	border-left: 1px solid #f1e8e8;
	border-right: 1px solid #f1e8e8;
	box-sizing: border-box;
}
.center-board {
	height: 100%;
	width: auto;
	margin: 0 350px 0 300px;
	box-sizing: border-box;
	position: relative;
}
.empty-info {
	position: absolute;
	top: 33%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 18px;
	color: #ccb1ea;
	letter-spacing: 4px;
}
.action-bar {
	position: absolute;
	right: 1rem;
	display: flex;
	flex-direction: column;
	z-index: 99;
	.delete-btn {
		color: #f56c6c;
		margin-left: 0 !important;
	}
}
.center-board-row {
//	border:1px solid #5959df;
	padding: 12px 5px 15px 5px;
	box-sizing: border-box;
	& > .el-form {
		height: calc(100vh - 69px);
	}
}
.el-form{

	
	width: 100%;
}
.drawing-board {
	height: 100%;
	position: relative;
	.components-body {
		padding: 0;
		margin: 0;
		font-size: 0;
		min-height: 60px;
	}
	.sortable-ghost {
		position: relative;
		display: block;
		height: 60px;
		overflow: hidden;
		background: #fff;
		&::before {
			content: " ";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 3px;
			background: #5959df;
			z-index: 2;
		}
	}
	.components-item {
		&.sortable-ghost {
			width: 100%;
			height: 60px;
			overflow: hidden;
			background-color: $selectedColor;
		}
	}

	 
	.active-form-item {
		//& > .el-form-item {
			background: $selectedColor;
			border-radius: 6px;
			outline: 1px solid #38adff!important;
		//}
		& > .component-name {
			color: $lighterBlue;
		}
	}
	.el-form-item {
		margin-bottom: 12px !important;
		overflow: hidden;
	}
}
.drawing-item {
	position: relative;
	cursor: move;
	&.unfocus-bordered {
		&:not(.active-form-item) {
			& > div {
				&:first-child {
					border: 1px dashed #ccc;
				}
			}
		}
	}
	.el-form-item {
		padding: 8px 10px;
	}
}
.drawing-layout-item {
	position: relative;
	cursor: move;
	box-sizing: border-box;
	outline: 1px dashed #ccc!important;
	border-radius: 3px;
	margin-bottom: 15px;
	.drawing-layout-item {
		margin-bottom: 2px;
	}
	.el-form-item {
		margin-bottom: 0;
	}
	.drag-wrapper {
		min-height: 80px;
		padding: 20px 0;
		overflow: hidden;
	}
	&.active-form-item {
		border: 1px dashed $lighterBlue;
	}
	.component-name {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 12px;
		color: #bbb;
		display: inline-block;
		padding: 0 6px;
	}
}




 

.drawing-item,
.drawing-layout-item {
  &:hover {
	background: $selectedColor;
	border-radius: 6px;
	outline: 1px dashed #38adff!important;
    & > .el-form-item {
      background: $selectedColor;
      border-radius: 6px;
    }
    & > .drawing-item-copy,
    & > .drawing-item-delete {
      display: initial;
    }
  }
  & > .drawing-item-copy,
  & > .drawing-item-delete {
    display: none;
    position: absolute;
    top: -10px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid;
    cursor: pointer;
    z-index: 1;
  }
  & > .drawing-item-copy {
    right: 56px;
    border-color: $lighterBlue;
    color: $lighterBlue;
    background: #fff;
    &:hover {
      background: $lighterBlue;
      color: #fff;
    }
  }
  & > .drawing-item-delete {
    right: 24px;
    border-color: #f56c6c;
    color: #f56c6c;
    background: #fff;
    &:hover {
      background: #f56c6c;
      color: #fff;
    }
  }
}